[user]
	email = tomas@tomasfarias.dev
	name = Tomás Farías Santana
	signingkey = ~/.ssh/id_tomasfarias.pub
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[core]
	excludesFile = $XDG_CONFIG_HOME/git/ignore
        pager = delta
[url "https://"]
	insteadOf = git://
[github]
	user = tomasfarias
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[fetch]
	prune = true
[gpg]
	format = ssh
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    side-by-side = true
[merge]
    conflictStyle = zdiff3
