layout {
	tab name="Code" focus=true hide_floating_panes=true {
		pane size=1 borderless=true {
			plugin location="zellij:tab-bar"
		}
        pane split_direction="vertical" {
            pane focus=true command="hx" size="50%" {
                start_suspended false
            }
            pane size="50%"
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
	}
	tab name="Files" hide_floating_panes=true {
		pane size=1 borderless=true {
			plugin location="zellij:tab-bar"
		}
		pane command="yazi" focus=true {
			start_suspended false
		}
		pane size=2 borderless=true {
			plugin location="zellij:status-bar"
		}
	}
	tab name="Git" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="lazygit" focus=true {
            start_suspended false
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
}
