* {
    border: none;
    border-radius: 0;
    font-family: mono;
    font-size: 17px;
    font-weight: normal;
    min-height: 0;
    min-width: 0;
    margin: 1px 0px;
}

@import "tomorrow-night.css";

window#waybar {
    background: @background-transparent;
    color: @foreground;
}

window#waybar.empty {
    background: @background-transparent;
    padding: 0px;
    border-radius: 0px;
}

window#waybar.hidden {
    background: transparent;
    padding: 0px;
    border-radius: 0px;
}

#waybar.empty #window {
    background: transparent;
    padding: 0px;
    border-radius: 0px;
}

#window {
    background: transparent;
    color: @foreground;
    padding: 0 5px;
    border-radius: 3px;
}

#workspaces button {
    background: transparent;
    padding: 0 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 5px;
    border-radius: 3px;
    color: @foreground;
}

#workspaces button.visible {
    background: transparent;
}

#workspaces button.active {
    background: @green;
    color: @background;
}

#tray {
    padding: 0 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: @foreground;
    border-radius: 3px;
}

#temperature, #clock, #battery, #cpu, #memory, #network, #pulseaudio {
    padding: 0 5px;
    margin-right: 5px;
    color: @foreground;
    border-radius: 3px;
}

#temperature.critical, #cpu.high, #memory.high, #network.disconnected, #battery.critical:not(.charging) {
    animation-name: blink-critical;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu.medium, #memory.medium, #battery.warning:not(.charging) {
    animation-name: blink-warning;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging, #battery.full {
    background: @green;
}

@keyframes blink-critical {
    to {
        background-color: @red;
        color: #1c1c1c;
    }
}

@keyframes blink-warning {
    to {
        background-color: @yellow_b;
        color: #1c1c1c;
    }
}
